@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
// The class name needs to match the names of the category and block
.wp-block-cloudblocks-sm-hire-us {
  text-align: center;
  font-family: "Poppins", sans-serif;
  .sm-hire-us {
    position: relative;
    padding: 5rem 0 0;
    .container {
      margin: 0 auto;
      max-width: 1280px;
      width: 90%;
      .hire-us-container {
        .inner-content-wrapper {
          .bg-circle {
            width: 5rem;
            height: 5rem;
            font-size: 3rem;
            border-radius: 0.25rem;
            color: #1e2022;
            background-color: #fff;
            border-color: #fff;
            position: relative;
            z-index: 1;
            line-height: 0.7;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-size: 0.9375rem;
            transition: 0.3s ease-in-out;
            color: #377dff !important;
            box-shadow: 0 0 35px rgba(140, 152, 164, 0.2) !important;
            border-radius: 50% !important;
            margin-bottom: 1.5rem;
            img {
              width: 40px;
              margin: 1.5rem 0;
              max-width: 100%;
              height: auto;
            }
          }
        }
        h2 {
          margin: 0;
          font-weight: 400;
        }
        p {
          margin: 0;
          margin-bottom: 1.5rem;
        }
        button {
          padding-left: 3rem;
          padding-right: 3rem;
          border-radius: 6.1875rem;
          text-transform: capitalize;
          position: relative;
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          vertical-align: middle;
          z-index: 1;
          -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
          height: 54px;
          line-height: 54px;
          font-size: 15px;
          padding: 0 28px;
          text-decoration: none;
          text-align: center;
          letter-spacing: .5px;
        }
      }
      @media only screen and (min-width: 993px) {
        margin-left: 25%;
        width: 50%;
        left: auto;
        right: auto;
      }
      @media only screen and (min-width: 601px) {
        margin-left: 16.6666666667%;
        width: 66.6666666667%;
        left: auto;
        right: auto;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
        left: auto;
        right: auto;
        margin-left: auto;
      }
    }
  }
}
